html {
	position: relative;
	min-height: 100%;
}
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #333333;
	margin-bottom: 50px;
}
.btn {
	cursor: pointer;
	background-color: #FFFFFF;
	box-shadow: 0 0 0 0px rgba(0,123,255,.25) !important;
	transition: all 0.0s ease-in-out;
}
.btn.disabled, .btn:disabled {
	cursor: default;
	opacity: 0.4;
}
.version {
	position: absolute;
	top: 0;
	right: 0;
	padding: 5px 10px;
	color: rgba(0, 0, 0, 0.2);
}
.text-row {
	margin-top: 20vh;
	font-size: 16px;
}
.sc-row {
	margin-top: 15vh;
}
.sc-row .btn {
	margin: 5px 20px;
	padding: 10px 10px;
}
.sc-row .fa {
	color: #333333;
	font-size: 26px;
}
.sc-row .fa-play, 
.sc-row .fa-pause {
	font-size: 32px;
}
.sc-row .track-title {
	margin-top: 10px;
}
.sc-row .track-artist {
	margin-top: 5px;
}
.sc-row .track-loading {
	margin-top: 10px;
	color: rgba(0, 0, 0, 0.4);
}



