<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
	<title>JConger</title>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />

	<link rel="icon" type="image/x-icon" href="images/favicon.ico" />

	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" />
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans" />

	<link rel="stylesheet" href="css/main.css" />

	<script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
	<script src="//connect.soundcloud.com/sdk/sdk-3.3.0.js"></script>

	<script src="js/app.js"></script>

</head>

<body>

	<div class="container" ng-controller="controller">
		<div class="version">v1.0.0</div>
		<div class="row text-row">
			<div class="col text-center">Owned by Jacob and Josh Conger</div>
		</div>
		<div class="row sc-row">
			<div class="col text-center">
				<button type="button" class="btn" ng-show="scIsPlaying === true" ng-disabled="scIsLoading === true" ng-click="scPreviousClick()">
					<i class="fa fa-backward"></i>
				</button>
				<button type="button" class="btn" ng-show="scIsPlaying === false" ng-disabled="scIsLoading === true" ng-click="scPlayClick()">
					<i class="fa fa-play"></i>
				</button>
				<button type="button" class="btn" ng-show="scIsPlaying === true" ng-disabled="scIsLoading === true" ng-click="scPauseClick()">
					<i class="fa fa-pause"></i>
				</button>
				<button type="button" class="btn" ng-show="scIsPlaying === true" ng-disabled="scIsLoading === true" ng-click="scNextClick()">
					<i class="fa fa-forward"></i>
				</button>
				<div ng-show="scIsLoading === false">
					<div class="track-title">{{trackTitle}}</div>
					<div class="track-artist">{{trackArtist}}</div>
				</div>
				<div class="track-loading" ng-show="scIsLoading === true">Loading</div>
			</div>
		</div>
	</div>

</body>

</html>